# Core Dependencies used in the script
# Web Scraping & Automation
selenium==4.39.0
beautifulsoup4==4.14.3

# Handles WebDriver installation for Selenium (still used despite Selenium Manager)
webdriver-manager==4.0.2

# HTTP Clients
requests==2.32.5
urllib3==2.6.3
# fixed CVE-2025-66418 and CVE-2025-66471

# Scheduling
schedule==1.2.2

# Utilities
python-dotenv

geopy
